<head th:fragment="head">
    <link rel="stylesheet" th:href="@{/css/globals.css}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header th:fragment="header">
    <h1>Talal's Books</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/AvailableBooks">Books</a></li>
            <li><a href="/ShoppingCart">Cart</a></li>
            <li><a href="/CheckOut">Checkout</a></li>
        </ul>
    </nav>
</header>



<footer th:fragment="footer">
    <h2>&copy;: Talal Al-Zuhair</h2>
    <p> ID: 991658377</p>
</footer>
