<!--
Talal Al-Zuhair
ID: 991658377
-->

<head th:fragment="head">
    <link rel="stylesheet" th:href="@{/css/globals.css}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header th:fragment="header">
    <h1>Talal's Passwords</h1>
    <img id="headerImage" th:src="@{/images/logo.jpg}" alt="Logo" />
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/viewPasswordRecord">View Passwords</a></li>
            <li><a href="/searchPasswordRecord">Search Passwords</a></li>
        </ul>
    </nav>
</header>



<footer th:fragment="footer">
    <h2>&copy;: Talal Al-Zuhair</h2>
    <p> ID: 991658377</p>
</footer>
